<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SIGNSlate.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA0D2D6E28AF9DA6009423AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0D2D8728AF9DAB009423AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0D2D9128AF9DAB009423AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
